<html>
	<head>
		<style>
			.section_1 {
				background-color: red;
				width: 100%;
			}
			.section_2 {
				background-color: green;
				width: 50%;
				display: inline-block;
			}
			.section_3 {
				background-color: blue;
				width: 50%;
				display: inline-block;
				margin-left: -0.25em;
			}
			.section_4 {
				background-color: orange;
				width: 100%;
			}
			.section_5 {
				background-color: yellow;
				width: 100%;
			}
			.logo {
			    width: 200px;
			    height: auto;
			}
		</style>
	</head>
	<body>

		<div class="section_1">
			<img id="logo" class="logo" src="{{img_src}}">
		</div>
		
		<div class="section_2">
			Product Image
		</div>
		
		<div class="section_3">
			Product Details
		</div>
		
		<div class="section_4">
			Colors
		</div>
		
		<div class="section_5">
			Specs
		</div>
		
	</body>
</html>
